# Configuation for the virtual interface
vrrp_instance {{ keepalived_instance_name }} {
    state {{ keepalived_role }}
    interface {{ keepalived_interface }}
    priority {{ keepalived_priority }}
    advert_int {{ keepalived_adv }}
    virtual_router_id {{ keepalived_vr_id }} 
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_password }}
    }

    # The virtual ip address shared between the two loadbalancers
    virtual_ipaddress {
        {{ keepalived_vip }}
    }
}

#test
