# Configuation for the virtual interface
vrrp_instance VI_1 {
    state {{ keepalived_role }}
    interface {{ keepalived_interface }}
    {% if keepalived_role.lower() == "master" %}
    priority {{ keepalived_priority }}
    {% else %}
    priority {{ keepalived_backup_priority }}
    {% endif %}
    advert_int {{ keepalived_adv }}
    virtual_router_id {{ keepalived_vr_id }} 
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_password}}
    }

    # The virtual ip address shared between the two loadbalancers
    virtual_ipaddress {
        {{ keepalived_vip }}
    }
}
